/* reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* web font */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}

/* common */
body { font-family: 'Noto Sans KR', sans-serif; color:#666; font-size:12px; }
a { color:inherit; text-decoration: none;}
i { font-style: none;}
img {vertical-align: top;}
.wrap { width: 1080px; margin:0 auto; position: relative;}
.blind { display: none; position: absolute; left: -9999px; width: 0;}

ul:after, .wrap:after, section:after { content:""; clear: both; display: block;}

/* header */
header { height: 143px;overflow: hidden;position: absolute; width: 100%; top: 0; left: 0; z-index: 1000; background: #fff;}
header .top { line-height: 60px; border-bottom: 1px solid #ddd}
header .top li { float: left;}
header .top h1 img { margin-top: 15px;}
header .top .snb { position: absolute; top: 0; left: 200px; color:#333;}
header .top .snb li { margin-right: 15px;}
header .top .snb li a:hover { border-bottom: 2px solid #000; font-weight: 600; padding-bottom: 2px}

header .top .gnb { position: absolute; top: 0; right: 0; color:#666; font-size: 12px; font-weight: 100;}
header .top .gnb li:after {content: "|"; margin: 0 10px; color:#ccc;}
header .top .gnb li:last-child:after {display: none;}
/* stiker */
header #stiker { border-bottom:1px solid #ddd; line-height: 80px; top: 60px; left: 0; background: #fff; z-index: 1000; width: 100%;}
header #stiker .menu { float: left; font-size:18px; font-weight: 500; color: #000; text-align: center;}
header #stiker .wrap > i { background:#ffe066; width: 0; height: 12px; position: absolute; top: 34px;  transition:0.2s; }
header #stiker .menu li { float: left; padding-right: 30px; position: relative;}
header #stiker .sign { float: right; }
header #stiker .sign a { margin-left: 10px; }
header #stiker .sign a:first-child { border:1px solid #aaa; width: 80px; height: 40px; display: inline-block; margin-top: 20px; line-height: 40px; text-align: center;}
header #stiker .sign img { margin-top: 20px; }
/* 추가 메뉴*/
header #stiker .dnb {border-top: 1px solid #ddd; font-size:14px; background: #f9f9f9; width: 100%; }

header #stiker .dnb .wrap { display: none;}
header #stiker .dnb:after, #stiker .dnb .dnb_link:after {content:""; clear: both; display: block;}
header #stiker .dnb .dnb_point {display: block; width: 100%; height: 77px; line-height: 77px; border-bottom: 1px solid #ddd; padding: 0; float:none;}
header #stiker .dnb .dnb_point li { float: left; border:1px solid #ddd; border-radius: 40px; line-height: 24px; margin-right: 10px; padding:0 15px;  margin-top: 22px; color:#333;}
header #stiker .dnb .dnb_point li:hover { background: #ffcc00;}

header #stiker .dnb .dnb_link { display:flex; justify-content: space-between; font-size:12px;}
header #stiker .dnb .dnb_link ul { border-left: 1px solid #ddd; float: left; margin:34px 0;  }
header #stiker .dnb .dnb_link ul:first-child { border-left:none;}
header #stiker .dnb .dnb_link ul li { margin-left: 10px; line-height: 40px;}
header #stiker .dnb .dnb_link ul li:hover { color: #000; text-decoration: underline; }
header #stiker .dnb .dnb_link ul li:first-child { font-weight: 600; color: #333;}

/* modal window */
.modal {position: absolute; bottom: 0;left: 0; background: rgba(0,0,0,0.5); height: 100%; width: 100%; z-index: 100; transition:1s;}
.curtain { transition:1s;}
/* blank */
.blank {height: 144px;}

/* 메인비주얼 슬라이드 */
#visual { margin: 40px 0 80px; color: #21201d; }
#visual .visual_slide {position: relative; width: 672px; height: 260px; overflow: hidden; float: left; border-radius: 10px;}
#visual .visual_slide .vi_cont { width: 4200px; position: relative;}
#visual .visual_slide .vi_cont li { width: 700px; height: 260px; float: left; padding: 34px 82px 0; position: relative;}
#visual .visual_slide .vi_cont li figure { width: 100%; height: 100%; position: absolute; top: 0; left: 0; }
#visual .visual_slide .vi_cont li figure img { position: absolute; top: 0; right: 0; opacity: 1;}

#visual .visual_slide ul .rock { background:url(../images/main/pc-pentaport-bg.png)no-repeat left top ;}
/* 스크립트 미작동시 기본위치값*/
#visual .visual_slide ul .rock figure img:nth-of-type(1) { top: 118px;left: 376px; opacity: 0.1; }
#visual .visual_slide ul .rock figure img:nth-of-type(2) { top: 32px; left: 376px; opacity: 0.1; }
#visual .visual_slide ul .rock figure img:nth-of-type(3) { top: 22px; left: 496px; opacity: 0.1; }

#visual .visual_slide ul .airport { background:url(../images/main/pc-expresstrain-bg.png)no-repeat left top  ;}
#visual .visual_slide ul .airport figure img:nth-of-type(1) { top: 48px; left: 376px; }
#visual .visual_slide ul .airport figure img:nth-of-type(2) { top: 80px; left: 386px; }
#visual .visual_slide ul .airport figure img:nth-of-type(3) { top: 167px;left:500px; }

#visual .visual_slide ul .trip { background:url(../images/main/pc-travel-bg.png)no-repeat left top  ;}
#visual .visual_slide ul .trip figure img:nth-of-type(1) { top: 38px; left: 358px; z-index: 1;}
#visual .visual_slide ul .trip figure img:nth-of-type(2) { top: 180px;left: 450px; }
#visual .visual_slide ul .trip figure img:nth-of-type(3) { top: 44px; left: 420px; }

#visual .visual_slide ul .ptree { background:url(../images/main/pc-starshop-bg.png)no-repeat left top  ;}
#visual .visual_slide ul .ptree figure img:nth-of-type(1) { top: 150px; left: 534px; z-index: 2; }
#visual .visual_slide ul .ptree figure img:nth-of-type(2) { top: 42px;  left: 350px; z-index: 1; }
#visual .visual_slide ul .ptree figure img:nth-of-type(3) { top: 50px;  left: 330px; }

#visual .visual_slide ul .lego { background:url(../images/main/pc-legolandCard-bg.png)no-repeat left top  ;}
#visual .visual_slide ul .lego figure img:nth-of-type(1) { top: 190px; left: 360px; width: 120px; z-index: 1;}
#visual .visual_slide ul .lego figure img:nth-of-type(2) { top: 172px; left: 526px; width: 68px; z-index: 1;}
#visual .visual_slide ul .lego figure img:nth-of-type(3) { top: 36px;  left: 382px; }
/* 비주얼 슬라이드 버튼 */
#visual .visual_slide .vi_cont li span { font-size: 16px; }
#visual .visual_slide .vi_cont li p { font-size: 26px; padding-top: 24px; font-weight: 500;}
#visual .visual_slide > .prev { position: absolute; top:120px; left:30px;}
#visual .visual_slide > .next { position: absolute; top:120px; right:30px}
#visual .visual_slide > .stop { position: absolute; bottom:20px; left: 356px; }
#visual .visual_slide > .play { position: absolute; bottom:20px; left: 356px; display: none;}
#visual .visual_slide > span { position: absolute; bottom:16px; left: 300px; background: rgba(0,0,0,0.3); width: 44px; line-height: 24px; border-radius: 24px; text-align: center; font-size: 14px; }

/* 로그인영역 */
#visual .log ul { height: 22px; padding-top: 4px;}
#visual .log ul li {float: left; margin-right: 34px; font-size: 14px; color: #222; position: relative;}
#visual .log ul li.under { font-weight: 600; }
#visual .log ul li:hover { font-weight: 600; }
#visual .log ul li.under:after {content: ""; display:block; width: 100%; height: 3px; background: #000;position: absolute; bottom: -4px; left: 0;}
#visual .log ul li:hover:after {content: ""; display:block; width: 100%; height: 3px; background: #000;position: absolute; bottom: -4px; left: 0;}

#visual .log {float: right; width: 340px; height: 260px; }
#visual .log > div { height: 216px; display: none;}
#visual .log > div.pin {display: block;}
#visual .log > div.pin p { height: 170px; text-align: center; font-size: 13px; padding-top: 40px; line-height: 1.8; font-weight: 300;}

#visual .log > div.pay .icon {height: 150px; background: url(../images/main/ico-appcard-48.png)no-repeat center center;}

#visual .log > div.id .form { height: 150px; padding-top: 20px;}
#visual .log > div.id .form input { box-sizing: border-box; height: 40px; border:none; border-bottom: 1px solid #aaa; outline: none;}
#visual .log > div.id .form input::placeholder { font-size: 16px; color: #c2c2c2; font-weight: 500;}
#visual .log > div.id .form input:focus { border-bottom: 1px solid #333;}
#visual .log > div.id .form .form_id input { width: 338px; }
#visual .log > div.id .form .form_pw { margin-top: 20px;}
#visual .log > div.id .form .form_pw input { width: 280px; }

#visual .log > div.cer .icon {height: 150px; background: url(../images/main/ico-browser-48.png)no-repeat center center;}

#visual .log > div > p > a { font-size: 12px; line-height: 44px; font-weight: 300; color: #222;}
#visual .log > div > a.btn_y { display: block; background: #fc0; line-height: 43px; width: 100%; border-radius: 4px; text-align: center; font-size: 14px;}


#card { background: #f4f6fa; padding: 40px 0; color: #222;}
#card .icon_bar ul { height: 68px; display: flex; justify-content: space-between;  text-align: center; font-weight: 300;}
#card .icon_bar ul li { background: #fff; float: left; width: 135px; padding-top: 52px;}
#card .icon_bar ul li:nth-child(1) { background: url(../images/main/ico-write.png)no-repeat center top;}
#card .icon_bar ul li:nth-child(2) { background: url(../images/main/ico-eshopping.png)no-repeat center top;}
#card .icon_bar ul li:nth-child(3) { background: url(../images/main/ico-checkpaper.png)no-repeat center top;}
#card .icon_bar ul li:nth-child(4) { background: url(../images/main/ico-coin-48.png)no-repeat center top;}
#card .icon_bar ul li:nth-child(5) { background: url(../images/main/ico-call-48.png)no-repeat center top;}
#card .icon_bar ul li:nth-child(6) { background: url(../images/main/ico-cardregister-48.png)no-repeat center top;}
#card .icon_bar ul li:nth-child(7) { background: url(../images/main/ico-point-48.png)no-repeat center top;}
#card .icon_bar ul li:nth-child(8) { background: url(../images/main/ico-certificate-48.png)no-repeat center top;}

#card .main_card { border:1px solid #d8dade;  box-shadow: 1px 2px 5px #e2e5e8; margin-top: 44px; height: 394px; background: #fff; text-align: center; border-radius: 20px; overflow: hidden;}
#card .main_card > ul { padding-left: 20px;}
#card .main_card > ul li { float: left; line-height: 82px; margin: 0 12px; font-size: 16px;}
#card .main_card > div { height: 312px;}

#card .main_card > div > ul li {height: 312px; width: 350px; float: left;}
#card .main_card > div > ul li figure  {height: 202px; display: flex; justify-content: center; align-items: center;}
#card .main_card > div > ul li figure img {transform:rotate(90deg); height: 128px; vertical-align: center;}
#card .main_card > div.premium > ul li figure img {transform:rotate(0); height: 128px; vertical-align: center;}

#card .main_card > div > ul li p { font-size: 16px;  margin: 20px 0;}
#card .main_card > div > ul li span {color: #333; font-weight: 300;}


#card .loan:after { content: ""; clear: both; display:block;}
#card .loan dl { width: 344px; height: 176px; margin-right: 24px; float: left; padding: 24px 0 0 32px; background: #fff; margin-top: 24px; border-radius: 10px; border:1px solid #d8dade;  box-shadow: 1px 2px 5px #e2e5e8}
#card .loan dl dt { font-size: 16px; color: #000;}
#card .loan dl dd { margin-top: 20px; font-size: 13px; color: #666; line-height: 1.6;}
#card .loan dl dd > a { color: #222; font-size: 12px;}
#card .loan dl:nth-child(1) { background: #fff url(../images/main/ico-eshopping.png)no-repeat 272px 104px;}
#card .loan dl:nth-child(2) { background: #fff url(../images/main/ico-card-1.png)no-repeat 272px 104px;}

#card .loan > ul { width: 344px; height: 176px; float: right; }
#card .loan > ul li { float: left; width: 160px; height: 80px; margin: 24px 24px 0 0; background: #fff; border-radius: 10px; box-shadow: 1px 2px 5px #e2e5e8; padding-left: 24px; display:flex; align-items: center; border:1px solid #d8dade;}
#card .loan > ul li:nth-child(1) { background: #fff url(../images/main/ico-personalalarm.png)no-repeat 104px center;}
#card .loan > ul li:nth-child(2) { background: #fff url(../images/main/ico-car.png)no-repeat 104px center;}
#card .loan > ul li:nth-child(3) { background: #fff url(../images/main/ico-repaymentloan.png)no-repeat 104px center;}
#card .loan > ul li:nth-child(4) { background: #fff url(../images/main/ico-delivery.png)no-repeat 104px center;}
#card .loan > ul li:nth-child(2n) {margin-right: 0;}

/* 임시 스크롤*/
.scroll { height: 8000px; background: #fee;}
